@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
}

main {
  display: flex;
  gap: 15px;
  padding: 100px;
}

.image {
  width: 539.22px;
  height: 447.43px;
}

h1 {
  font-family: Space Mono;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}

main p {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  width: 400px;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #fff;
  background-color: #333;
  width: 10em;
  padding: 24px 43px;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

footer {
  color: #bdbdbd;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1225px) {
  main {
    padding: 0;
  }
  main p {
    padding: 30px 0;
  }
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
    text-align: center;
  }
  .content {
    align-items: center;
  }

  .image {
    width: 290px;
    height: 240px;
  }

  h1 {
    font-size: 48px;
  }

  main p {
    font-size: 18px;
  }
}
